<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
    <head>
        <style type="text/css">
            .errorMessages {
                color: red;
            }
        </style>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="header-contents">
            <h1>タスク追加</h1>
        </div>
        <div class="error-messages">
            <div th:if="${errorMessages != null}">
                <div class="errorMessages" th:each="errorMessage : ${errorMessages} ">
                    <li th:text="${errorMessage}"/>
                </div>
                <br />
            </div>
        </div>
        <form method="post" action="/add" th:object="${taskForm}">
            <div class="form-area">
                <div class="content">
                    タスク内容<br>
                    <textarea type="text" th:field="*{content}" rows="5" cols="30"/><br/>
                </div>
                <br />
                <div class="limit-date">
                    タスク期限<br>
                    <textarea th:field="*{limitDate}" placeholder="yyyy/mm/dd" rows="1" cols="15"/></textarea><br/>
                </div>
                <br />
                <input type="submit" value="追加">
            </div>
        </form>
        <br />
        <div class="footer-contents">
            <a href="/">
                戻る
            </a>
        </div>
    </body>
</html>