<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="header-contents">
            <h1>タスク追加</h1>
        </div>
        <form method="post" action="/add" th:object="${taskForm}">
            <div class="form-area">
                タスク内容<br>
                <input type="text" th:field="*{content}" size="20" maxlength="140" /><br/>
            </div>
            <div class="limit-date">
                タスク期限<br>
                <input type="date" name="limitDate" id="limitDate" th:value="*{limitDate}" size="20"  /><br/>
            </div>
            <input type="submit" value="追加">
        </form>
        <form action="/">
            <input type="submit" value="戻る" />
        </form>
    </body>
</html>